# Please change any below items as you like
ADMIN_EMAIL=adm@adm.com
ADMIN_PASSWORD=adm
SECRET_KEY=MY_SECRET_KEY

# DB

# CACHE
REDIS_EXPIRE=3600

# CELERY
CELERY_TASK_PERIOD=15



# =========== DO NOT CHANGE BELOW ITEMS - THIS FEATURES ARE NOT READY YET ===========
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

REDIS_PORT=6379
REDIS_URL=redis://redis:${REDIS_PORT}

RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_PORT}//
